body {
  height: 100vh;
  margin: 0;
  display: flex;

  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  gap: 15rem;
}

.grid,
.aigrid {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: 400px;
}
